# заглушить первые 30 секунд input1
#mute 0 30
# смиксовать с input2, начиная с секунды 10
#mix $2 10
# заглушить 3-ю минуту в миксованном потоке
#mute 120 180 #коменнтарии прям в строке
# применить ваш конвертер с нужными параметрами
#your_converter 50 1

dummy

# заглушить звук с 0 до 23
mute 0 23

# смиксовать с 1-м файлом с 0 до 23 секунды
mix $1 $0 0 23

#заглушить звук с 50 секунды до конца
#mute 50
speed 100 160
slow 30 100
mute 200